################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PingGraph/bin
/PingGraph/obj
/.vs/PingGraph/v15/Server/sqlite3
/.vs/PingGraph/v15/.suo
